<div id="contentHolder" class="container text-center d-flex mt-5">
  <div @flyInOut id="filterBox" *ngIf="showFilter" class="p-4">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group mb-2">
        <label>Workout Name</label>
        <input #Name="ngModel" class="form-control" name="Name" [(ngModel)]="formModel.Name" />
      </div>
      <div class="form-group mb-2">
          <label>Contain Exercise</label>
          <select #ExerciseId name="ExerciseId" [(ngModel)]="formModel.ExerciseId" class="form-control">
            <option value="" disabled selected>Select an Exercise</option>
            <option *ngFor="let exercise of exercises" value="{{exercise.id}}">{{exercise.name}}</option>
          </select>
      </div>
      <div class="form-group mb-2">
        <label>Start Date</label>
        <div class="col-12">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="StartDate" [(ngModel)]="date1" ngbDatepicker #start="ngbDatepicker">
            <button class="btn btn-outline-secondary calendar" (click)="start.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <label>End Date</label>
        <div class="col-12">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="EndDate" [(ngModel)]="date2" ngbDatepicker #end="ngbDatepicker">
            <button class="btn btn-outline-secondary calendar" (click)="end.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button
          id="filterButton"
          class="btn btn-primary mr-5 mt-2"
          type="submit"
        >
          Apply Filter
        </button>
        <button
          id="resetButton"
          class="btn btn-primary mt-2"
          type="button"
          (click)="resetFilter()"
        >
          Reset Filter
        </button>
      </div>
    </form>
  </div>
  <div id="filterContentHolder" class="container text-center d-flex flex-column">
    <div class="d-flex justiy-content-start">
      <button
        class="btn btn-primary mb-2"
        type="button"
        (click)="OnShowFilter()"
      >
        <i class="fa fa-arrow-left"></i>
        Filter
      </button>
      <button
        class="btn btn-primary mb-2"
        id="createButton"
        type="button"
        (click)="OnCreateWorkout()"
      >
        Create
      </button>
    </div>
    <table class="table" id="datatableexample">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Time taken (minutes)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading">
          <td>
              <app-loading-spinner></app-loading-spinner>
          </td>
        </tr>
        <tr *ngIf="workouts.length === 0 && !isLoading">
          <td> No matching workouts </td>
        </tr>
        <tr *ngFor="let workout of workouts">
          <td>{{ workout.name }}</td>
          <td>{{ workout.date | date: "longDate" }}</td>
          <td>{{ workout.timeTaken }}</td>
          <td>
            <button
              class="btn btn-primary"
              type="button"
              (click)="onDetailsClicked(workout)"
            >
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
