<div class="container text-center">
  <div class="d-flex justify-content-between">
    <input
    class="form-control mt-2 mb-2"
    type="text"
    placeholder="Search by name"
    style="max-width: 10rem"
  />
    <button class="btn btn-primary mt-2 mb-2" id="createButton" type="button" (click)="OnCreateExercise()">Create</button>
  </div>
  <table class="table" id="datatableexample">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Target muscles</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of exercises">
        <td>{{ exercise.id }}</td>
        <td>{{ exercise.name }}</td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-primary"
              type="button"
              id="dropdownMenuButton1"
              aria-expanded="false"
              data-bs-toggle="dropdown"
            >
            target muscles 
            <span>
              <i class="fa fa-arrow-down"></i>
            </span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li *ngFor="let exerciseCategory of exercise.exerciseCategories">
                {{ exerciseCategory.name }}
              </li>
            </ul>
          </div>
        </td>
        <td><button class="btn btn-primary" type="button">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
